<h1 class="top-page">ようこそ<strong>Bookers</strong>へ！</h1>

<p class="book-top"><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
<p class="book-top">印象を共有し交換することが出来ます。</p>
  <div class="top"><%= link_to 'start', :books %></div>